.idea/
schemas/__pycache__/
utils/__pycache__/
modules/__pycache__/add_expense.cpython-310.pyc
modules/__pycache__/create_room.cpython-310.pyc
modules/__pycache__/room_Transaction_Views.cpython-310.pyc
modules/__pycache__/search_room.cpython-310.pyc
modules/__pycache__/settle_transactions.cpython-310.pyc
__pycache__/main.cpython-310.pyc
modules/__pycache__/login.cpython-310.pyc
modules/__pycache__/register_user.cpython-310.pyc
router/__pycache__/api_routes.cpython-310.pyc
modules/__pycache__/login_user.cpython-310.pyc
router/__pycache__/